UserParameter=nsq.discovery.topics, python {{ zabbix_prefix_dir }}/scripts/nsq.py nsqd discovery topics
UserParameter=nsq.nsqd[*], python {{ zabbix_prefix_dir  }}/scripts/nsq.py nsqd "$1" "$2" "$3"
UserParameter=nsq.nsqlookupd[*], python {{ zabbix_prefix_dir }}/scripts/nsq.py nsqlookupd "$1"
